# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
.dist/
dist/
.build/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/

# OS
.DS_Store

# Local env
.env

# Local outputs
/tmp/
